/* GENERAL STYLE */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container-fluid{
	height: 100vh;
	background-color: #002A60;
}
.mt-5{
	margin-top: 50px !important;
}
.m-0{
	margin: 0 !important;
}
.mt-2{
	margin-top: 25px !important;
}
.h-100{
	height: 100%;
} 
.w-100{
	width: 100%;
}
.center{
	text-align: center;
}
#spanMostrar {
	bottom: 16px;
	cursor: pointer;
	height: 25px;
	position: absolute;
	font-size: 13px;
	right: 10px;
	width: 25px;
	z-index: 10;
  }
.vertical-middle{
	align-items: center;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.m-auto{
	margin: 0 auto;
}
.img-logo{
	width: 150px;
	min-width: 180px;
	/* margin-bottom: 50px; */
}
.container-login{
	height: 50% !important;
	width: 100%;
	min-width: 280px;
	/* min-height: 250px; */
}
.container-login-form{
	height: 50%;
	min-height: 390px;
	min-width: 280px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center !important;
	vertical-align: middle;
	margin: auto;
	-webkit-box-shadow: 0px -4px 20px -2px rgba(126, 126, 126, 0.5);
	box-shadow: 0px -5px 30px -2px  rgba(126, 126, 126, 0.5);
	background-color: #f6f6f6;
	border-radius: 40px 40px 0px 0px;
}
.title-log > h4{
	font-weight: bold;
	font-size: 22px;
	 padding-top: 20px;
	padding-bottom: 10px;
}
.center{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}
.form-control{
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.input-field .prefix.active{
	color: #002A60;
}
.input-field .label-text.active{
	padding-left: 0 !important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
	margin-left: 0 !important;
	padding-left: 3em;
    width: 90% !important;
    width: calc(100% - 3rem);
}
input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
	transition: all .6s ease;
}
input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label{
	color: #002A60;
	padding-left: 0 !important;
}
input[type=email]:not(.browser-default):active:not([readonly])+label,input[type=password]:not(.browser-default):active:not([readonly])+label{
	color: #002A60;
	padding-left: 0 !important;
}
input[type=email]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #002A60;
	box-shadow: 0 1px 0 0 #002A60;
}
.input-field {
    position: relative;
  }
  /* .input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 15px;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: 1.2rem;
    margin-left: 130px;
    color: #ccc;
  }
  /* label color */
  /* .input-field label {
    color: #ccc;
    margin: 0 !important;
    padding-left: 10px;
    position: absolute;
    transition: all .6s ease;
  /* }  */

.link-pass{
	display: block;
	position: relative;
}
.link-pass a{
	color: #002A60;
}
.btn-rounded{
	border-radius: 60px;
	background-color: #002A60;
	font-weight: bold;
	color: #fff;
	font-family: 'Roboto' !important;
	font-size: 20px;
	width: 200px;
	height: 40px;
}
.btn-rounded:hover{
	background-color: #034192;
}
/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 1018px){
	body{
		font-family: 'Roboto', sans-serif;
		box-sizing: border-box;
		min-height: 100vh;
		flex-direction: column !important;
		flex-wrap: wrap;
		word-wrap: break-word;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select:none;
	}
	.title-log{
		text-align: center;
	}
	.title-log > h4{
		display: block;
	}
	.title-log-desk{
		display: none;
	}
}

@media screen and (max-width:608px) and (max-height:750px){
	.container-login{
		height: 42% !important;
	}
	.container-login-form{
		height: 58% !important;
		min-height: 385px !important;
	}
}

@media screen and (max-width:375px) and (max-height:668px){
	.container-login{
		height: 42% !important;
	}
	.container-login-form{
		height: 50% !important;
		min-height: 385px !important;
	}
}
@media screen and (max-width:375px) and (max-height:741px){
	.container-login{
		height: 42% !important;
	}
	.container-login-form{
		height: 58% !important;
	}
}

/* MEDIA QUERIES TABLET AND DESKTOP */
@media screen and (min-width:1018px){
	body{
		font-family: 'Roboto', sans-serif;
		box-sizing: border-box;
		min-height: 100vh;
		flex-direction: column;
		flex-wrap: wrap;
		word-wrap: break-word;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select:none;
	}
	.container-fluid{
		height: 100vh;
		background-color: #DCD9D4;
		background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
		display: flex;
		text-align: center;
		justify-content: center;
		vertical-align: middle;
		align-items: center;
	}
	.container-login{
		display: inline-flex;
		height: 80% !important;
		width: 30% !important;
		min-width: 450px;
		max-width: 540px;
		max-height: 600px;
		vertical-align: center;
		background-color: #002A60;
		position: relative;
		border-radius: 5px 0px 0px 5px;
		-webkit-box-shadow: 0px -4px 20px -2px rgba(126, 126, 126, 0.5);
		box-shadow: 0px -5px 30px -2px  rgba(126, 126, 126, 0.5);
	}
	.img-logo{
		width: 220px;
		min-width: 180px;
	}
	.container-login-form{
		display: inline-block;
		height: 80% !important;
		width: 50% !important;
		max-width: 630px;
		min-width: 450px;
		max-height: 600px;
		border-radius: 0px 5px 5px 0px;
		word-wrap: break-word;
		margin: 0;
	}
	.title-log > h4{
		display: none;
	}
	.title-log-desk{
		margin-top: 32px;
		margin-left: 48px;
		margin-bottom: 48px;
		text-align: left !important;
	}
	.title-log-desk span{
		font-size: 20px;
	}
	.title-log-desk h4{
		font-weight: bold;
		font-size: 25px;
		text-transform: uppercase;
		margin: 0;
		margin-top: 32px;
	}
	.form-control{
		margin-left: 48px !important;
		margin-right: 48px !important;
	}
	.link-pass{
		margin-top: 8px !important;
		margin-bottom: 32px !important;
	}
	.btn-rounded{
		width: 240px;
		height: 48px;
	}
	footer span {
		margin-top: 38px;
	}
}






