<ul>
    <li>
        <i class="fas fa-home d-none-phone"></i><a href="home.php" class="nav-links"><i class="fas fa-home d-none-desk"></i>Inicio</a>
    </li>
    <!-- ---------------------------------------------------------------------- -->
    <li  class="dropdown-item">
        <i class="fas fa-briefcase d-none-phone"></i>
        <div class="dropdown-menu-button nav-links">
            <i class="fas fa-briefcase d-none-desk" ></i> <span>Administración</span> <i class="fas fa-sort-down"></i>
        </div>
        <ul class="dropdown dropdownHeigth-visualizador">
            <li>
                <a href="leerqr.php" class=""><i class="fas fa-qrcode"></i>Leer QR</a>
            </li>
        </ul>
    </li>
    <li>
        <i class="fas fa-cogs d-none-phone"></i>
        <a href="options.php" class="nav-links"><i class="fas fa-cogs d-none-desk"></i>Opciones</a>
    </li>
    <li>
        <i class="fas fa-sign-out-alt d-none-phone"></i>
        <a href="../../controller/sessions/cerrarSesion.php" class="nav-links"><i class="fas fa-sign-out-alt d-none-desk"></i>Cerrar Sesión</a>
    </li>
</ul>